<ion-view view-title="DailyManna" class=“ng-cloak” ng-view>
     <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">About <i class="ion-android-alert"></i></strong>
        </div>
        <div class="im-wrapper">
        
            
<div class="attribution">
            <p>
               <em>This app makes use of an open resource from <strong>OurManna.com</strong> and does not intend to sell or use the data for any financial purpose.</em>
                        
            </p>
             
                 <p>Resource From:<br/><a href="http://ourmanna.com" target="_blank"><img src="img/ourmanna.png"/></a>
                 </p>
                 <p>Developer:<br/>
                        <a href="https://www.linkedin.com/in/oluwaseye" target="_blank"><img src="img/myprofile.png" /></a>
                 </p>    
        
        

            <p>Image Resource:<br/>
            <a href="http://www.freepik.com/free-photos-vectors/background"> <img src="img/freepik.png"/></a>
                 </p>
               
            </div>
            
        
    </ion-content>
</ion-view>