<ion-view view-title="Call Me">
  <ion-content>
    <ion-list>
    <input type="text" class="item item-input" ng-model="mobile">
	  <button class="button button-bar button-full button-dark" ng-click="callme()">Call Me</button>
        
	   <button class="button" ng-click="add()">Add notification</button>
    <button class="button" ng-click="cancelAll()">Cancel</button>
        <button class="button" ng-click="isSch()">isScheduled</button>
        <button class="button" ng-click="isDstScheduled()">isDStScheduled</button>
        <button class="button" ng-click="isNonDst()">isNonDStScheduled</button>
                <button class="button" ng-click="ptime()">ptime</button>
        
        
    </ion-list>
  </ion-content>
</ion-view>
