<ion-view view-title="DAILYMANNA" class=“ng-cloak” ng-view>
     <ion-content ng-controller="SettingsCtrl">
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Settings <i class="ion-gear-b"></i></strong>
        </div>
        <div class="im-wrapper">
    
        
        <form class="list">
            <ion-toggle toggle-class="toggle-positive" ng-model="toggle_notify" ng-change="updateNotificationOption()"><h3 id="settingh3">Notification <i class="ion-android-notifications"></i></h3><small id="settingsmall">Switch on/off notifications.</small></ion-toggle>

     
        </form>
            
     
    </ion-content>
         </div>
</ion-view>



